@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background: linear-gradient(135deg, #FF8C32, #FF6B00);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    padding: 14px 36px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(255, 107, 0, 0.4);
    transition: all 0.25s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 107, 0, 0.5);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(255, 107, 0, 0.3);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


.card {
    background: #F9F9F9;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 300px;
}
.card .btn {
    align-self: center;     
}
.rows {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    width: 60px;
    height: 60px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #2E2E2E;
    text-transform: lowercase;
}

input:disabled {
    background: #eeeeee;
    color: #7D7D7D;
}

.rowdisabled input {
    opacity: 0.6;
}

.green {
    background: #33CC66;
    color: #ffffff;
    border-color: #33CC66;
}

.orange {
    background: #FF8C32;
    color: #ffffff;
    border-color: #FF8C32;
}

.red {
    background: #FF4B4B;
    color: #ffffff;
    border-color: #FF4B4B;
}
.box_message-win{
    color: #000000;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #a9fdc6;
}
.box_message-lose{
    color: #eeeeee;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #fda9a9;
}

.input_error {
    background: #ffe5e5;
    color: #b30000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 8px 12px;
    margin-top: 10px;
    border: 1px solid #ff9999;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(255, 0, 0, 0.1);
    align-self: center;
}
.confirm {
    margin-bottom: 10px;    
    align-self: center;
}
.easybtn{
background: linear-gradient(135deg, #74FF00, #0087FF);
}
.medbtn{
background: linear-gradient(135deg, #FFDF32, #D15800);
}
.hardbtn{
background: linear-gradient(135deg, #FF3232, #FF6C00);
}